<%- include('templates/header') %>
<div class="row justify-content-center mt-5">
    <div class="alert alert-danger mt-4">
        <h2>403 - Not Authorized</h2>
        <p>You do not have permission to view this page.</p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>


<%- include('templates/footer') %>
