<%- include('templates/header') %>

<% if (!name) { %>
  <h1>Welcome!</h1>
  <a href="/signup" class="btn btn-primary">Sign Up</a>
  <a href="/login" class="btn btn-outline-primary ms-2">Log In</a>
<% } else { %>
  <h1>Hello, <%= name %>!</h1>
  <a href="/members" class="btn btn-primary">Members Area</a>
  <a href="/logout" class="btn btn-outline-danger ms-2">Sign Out</a>
<% } %>

<%- include('templates/footer') %>